/*
table {
  border-width:1px;
  border-style:solid;
  border-color:black;
}
th, td {
  border-width:1px;
  border-style:solid;
  border-color:red;
}
*/

table {
  border-collapse: collapse;
  border: 2px solid #aaa;
}
th, td {
  text-align: center;
}

.trainers th.day, .months th, tbody .day {
  background: #ddd;
}
.years th {
  background: #aaa;
  border: 2px solid #999;
}
tbody .day-of-month {
  font-weight: bold;
}
.trainers th.day, .months th, tbody .day-of-week, tbody .day-invalid {
  border-left: 2px solid #aaa;
}
.trainers th.trainer {
  width: 20px;
}

tbody .date {
  background: white;
}
tbody .date.busy {
  background: #bbb;
}
tbody .date.confirmed {
  background: red;
}
tbody .date.unconfirmed {
  background: orange;
}
tbody .date.adding {
  background: yellow;
  cursor: move;
}
tbody .date.adding.invalid {
  background: #ddd;
  cursor: not-allowed;
}
tbody .date.confirmed.no-subject, tbody .date.unconfirmed.no-subject {
  background: #6f6;
}
tbody .date.weekend, tbody .date.holiday {
  background: #ddd;
}


#calendar {
  float: left;
}
#new-training-form {
  float: right;
}
